@font-face {
    font-family: 'nobileregular';
    src: url('./fonts/nobile-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    line-height: calc(2px + 2ex + 2px);
}

:root {
    font-size: 62.5%;

    --h1-font-size: calc(1.8rem + 2.5vw);
    --label-font-size: calc(0.8rem + 0.3vw);
    --book-titles-font-size: calc(1rem + 0.1vw);

    --start-button-font-size: calc(1rem + 1.5vw);
    --button-color: #ccb69b;
    --button-font-color: #0e0e0e;
    --new-book-button-font-size: calc(1rem + 1vw);
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "nobileregular", "sans-serif";
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#background {
    overflow: auto;
    position: relative;
}
      
#background::before {
    content: "";
    position: fixed;
    left: -1%;
    right: -1%;
    top: -1%;
    bottom: -1%;
    z-index: -1;
    background-image: url('./images/background.jpg');
    background-size: cover;
    width: 102%;
    height: 102%;
    filter: blur(5px);
}

h1 {
    font-size: var(--h1-font-size);
    color: white;
    text-align: center;
}

#start-button {
    margin-top: 2vw;
    font-size: var(--start-button-font-size);    
    opacity: 0;
    padding: 2%;
    
    animation: fadeIn 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

button {
    border: none;
    min-width: fit-content;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    background: var(--button-color);
    color: var(--button-font-color);
    box-shadow: 5px 5px 10px -2px #0e0e0e;
}

button:active {
    background-color: #af9c84;
    transform: scale(0.98);
    box-shadow: none;
}

button:hover {
    background-color: #af9c84;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#welcome-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgb(14, 14, 14, 0.5);
    width: 100vw;
    padding: 3%;
}

#main-wrapper {
    display: none;
}

#main-wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: max(10px,1vw);
    height: 100%;line-height: 1.1;
}

#books-container {
    width: 80vw;
    height: 70vh;
    background-color: #644d3c;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;
    justify-content: center;
    align-content: start;
    overflow-y: auto;
    box-shadow: 10px 10px 10px -2px #0e0e0e;
}

#add {
    top: 5vw;
    left: 10vw;
    font-size: var(--new-book-button-font-size);
    min-width: fit-content;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: max(7px,1%);
    font-weight: bold;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    height: max(327px,15vw);
    overflow: auto;
    background-color: #a8845b;
    padding: max(7px,4%);
    border: 3px solid var(--button-font-color);
    border-left: 20px solid var(--button-font-color);
    border-radius: 10px 3px 3px 10px;
    box-shadow: 5px 5px 10px -2px #0e0e0e;
}

dialog {
    align-self: center;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: #ebe6cd;
}

input, textarea {
    display: block;
}

form > div {
    margin-bottom: 20px;
}

form > div:last-of-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 20px;
}

form button {
    border-radius: 5px;
    box-shadow: 3px 3px 10px -2px #0e0e0e;
    line-height: 2;
}

label {
    text-transform: uppercase;
    font-size: var(--label-font-size);
    font-weight: bold;
    color: #52402b;
}

.delete-button {
    margin-right: 10px;
    font-weight: bolder;
    color: rgb(129, 52, 52);
}

.read-button {
    color: rgb(78, 121, 78)
}

.book-card button {
    border-radius: 5px;
    box-shadow: 2px 2px 5px -2px #0e0e0e;
    line-height: 1.5;
    background-color: #e9ad52;
}

.book-card button:active {
    background-color: #c08e42;
    transform: scale(0.98);
    box-shadow: none;
}

.book-card button:hover {
    background-color: #c08e42;
}

.book-card span {
    font-weight: bold;
    text-transform: uppercase;
    color:#272836;
    font-size: var(--book-titles-font-size);
}

.book-card p {
    line-height: 1.1;
}

.notes {
    line-height: 2;
    height: 5ch;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-align: end;
}